<head>
<style>
td (border: 1px solid black;)
th (color:red;)
</style>
</head>
<body>
<div>
<h1>Gifts</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Giver_id</th>
    <th>Receiver_id</th>
    <th>Provider_id</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
  </tr>

<% Gift.all.each do |gift| %>
  <tr>
    <td><%= gift.id %></td>
    <td><%= gift.giver_id %></td>
    <td><%= gift.receiver_id %></td>
    <td><%= gift.provider_id %></td>
    <td><%= gift.status %></td>
    <td><%= gift.created_at.strftime("%B %d %H:%M") %></td>
    <td><%= gift.updated_at.strftime("%B %d %H:%M") %></td>
  </tr>
<% end %>
</table>

<br />
</div>
</body>